<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 shop-menu">
                    <div class="pull-right">
                        <ul class="nav navbar-nav flex-row">
                            <li><a href="#"><i class="fa fa-user"></i> Account</a></li>
                            <li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
                            <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                            <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                            <li><a routerLink="/login"><i class="fa fa-lock"></i> Login</a></li>
                            <li><a routerLink="/register"><i class="fa fa-arrow-right"></i> Register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->
    
    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="logo pull-left">
                        <a href="index.html"><img src="./assets/images/home/sk-logo.png" alt="" /></a>
                    </div>                  
                </div>
                <div class="col-sm-8">
                    <form class="search-box cf">
                        <input type="text" placeholder="Search here..." required>
                        <button type="submit">Search</button>
                    </form>
                </div>
                <div class="col-sm-1">
                    <div class="mycart minicart-head pull-right">
                        <div class="minicart">
                            <a class="cart-contents" href="" title="View your shopping cart"></a>
                            <span class="cart-icon"><i class="fa fa-shopping-basket"></i><span class="hidden">My Cart</span></span>
                            <span id="" class="cout_cart">7</span>
                        </div>
                        <div class="minicart-block">
                            <div class="minicart-inner">
                                <div class="number-item">There are <span class="item">7 item(s)</span> in your cart</div>
                                <ul class="minicart-content">
                                    <li>
                                        <a href="#" class="product-image">
                                            <img width="80" height="80" src="./assets/images/cart/cart1.jpg" class="attachment-80x80 size-80x80 wp-post-image" alt="">
                                        </a>
                                        <div class="detail-item">
                                            <div class="product-details"> 
                                                <h4><a class="title-item" href="#">error ipsa quae ab illo inventore veritatis</a></h4>		
                                                <div class="product-price">
                                                    <span class="price"><span class="amount" title="Original price:250">₹250.00</span> x </span>	      
                                                    <div class="qty"><span class="qty-number">1</span></div>
                                                </div>
                                                <div class="product-action clearfix">
                                                    <a href="" class="btn-remove" title="Remove this item"><span class="fa fa-times"></span></a>           
                                                    <a class="btn-edit" href="" title="View your shopping cart"><i class="fa fa-pencil"></i><span></span></a>    
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="product-image">
                                            <img width="80" height="80" src="./assets/images/cart/cart2.jpg" class="attachment-80x80 size-80x80 wp-post-image" alt="">
                                        </a>
                                        <div class="detail-item">
                                            <div class="product-details"> 
                                                <h4><a class="title-item" href="#">error ipsa quae ab illo inventore veritatis</a></h4>	  		
                                                <div class="product-price">
                                                    <span class="price"><span class="amount" title="Original price:250">₹250.00</span> x </span>	      
                                                    <div class="qty"><span class="qty-number">1</span></div>
                                                </div>
                                                <div class="product-action clearfix">
                                                    <a href="" class="btn-remove" title="Remove this item"><span class="fa fa-times"></span></a>           
                                                    <a class="btn-edit" href="" title="View your shopping cart"><i class="fa fa-pencil"></i><span></span></a>    
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="product-image">
                                            <img width="80" height="80" src="./assets/images/cart/cart3.jpg" class="attachment-80x80 size-80x80 wp-post-image" alt="">
                                        </a>
                                        <div class="detail-item">
                                            <div class="product-details"> 
                                                <h4><a class="title-item" href="#">error ipsa quae ab illo inventore veritatis</a></h4>	  		
                                                <div class="product-price">
                                                    <span class="price"><span class="amount" title="Original price:250">₹250.00</span> x </span>	      
                                                    <div class="qty"><span class="qty-number">1</span></div>
                                                </div>
                                                <div class="product-action clearfix">
                                                    <a href="" class="btn-remove" title="Remove this item"><span class="fa fa-times"></span></a>           
                                                    <a class="btn-edit" href="" title="View your shopping cart"><i class="fa fa-pencil"></i><span></span></a>    
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="cart-checkout">
                                    <div class="price-total">
                                        <span class="label-price-total">Subtotal:</span>
                                        <span class="price-total-w">
                                            <span class="price">
                                                <span class="amount" title="Original price:1820">₹1,820.00</span>
                                            </span>
                                        </span>			
                                    </div>
                                    <div class="cart-links clearfix">
                                        <div class="cart-link"><a href="#" title="Cart">View Cart</a></div>
                                        <div class="checkout-link"><a href="#" title="Check Out">Check Out</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="index.html" class="active">Home</a></li>
                            <li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="shop.html">Products</a></li>
                                    <li><a href="product-details.html">Product Details</a></li> 
                                    <li><a href="checkout.html">Checkout</a></li> 
                                    <li><a href="cart.html">Cart</a></li> 
                                    <li><a routerLink="/login">Login</a></li> 
                                </ul>
                            </li> 
                            <li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="blog.html">Blog List</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                </ul>
                            </li> 
                            <li><a href="404.html">404</a></li>
                            <li><a href="contact-us.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->